<footer class="footer">
    <div class="container">
        <table>
            <tr>
                <td>
                    <a class="impressumContent" data-toggle="modal" data-target="#modalImpressum">
                        <p>Impressum</p>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</footer>