<div id="modalImpressum" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title pull-left" id="impressumIitle">Impressum</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h4"><strong>Kinomaxx FFM GmbH</strong></p>
                <p>Friedberger Landstraße 120</p>
                <p>60316 Frankfurt am Main</p>
                <p>Tel.: 069 213 473-0 </p>
                <p>E-Mail: info@kinomaxx.de</p>
                <p>Website: <a href="#">www.kinomaxx_ffm.de</a></p>

                <br>

                <p>Amtsgericht Darmstadt, HRB 90735 </p>
                <p>USt-IdNr. DE 07 58 28 71 9</p>

                <br>

                <p class="h5"><strong>Gesellschafter:</strong></p>

                <p>Domenic Gerhold,</p>
                <p>Ruben Mantel,</p>
                <p>Philipp Sch&auml;fer,</p>
                <p>Matthias Feyll</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schlie&szlig;en</button>
            </div>
        </div>
    </div>
</div>

