{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center underline">Kontakt</h1>
    </div>
    <hr>

    {% if message is defined and message is not empty %}
        <div class="container">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    {% endif %}


    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Absenden</button>
        {{ form_end(form) }}
    </div>

    <hr>

    <div style='height:300px;width:100%;'><iframe width="" height="300" src=https://maps.google.de/maps?hl=de&q=%20Friedberger+Landstraße+120%20Frankfurt+am+Main&t=&z=12&ie=utf8&iwloc=b&output=embed frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style='height:300px;width:100%;'></iframe><p style="text-align:right; margin:0px; padding-top:-10px; line-height:10px;font-size:10px;"><a href="http://www.checkpoll.de/google-maps-generator/" style="font-size:10px;" target="_blank">Google Maps Generator</a> von <a href="http://www.checkpoll.de/" style="font-size:10px;" target="_blank">CheckPoll</a></p></div>
{% endblock %}