{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="text-center underline">Kontakt</h1>
    </div>
    <hr>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Absenden</button>
        {{ form_end(form) }}
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Telefonisch errreichen sie uns unter folgender Nummer: 069 213 473-0</p>
                <p>Erreichbarkeit:</p>
                <span class="line-height-xs">
                    Mo-Fr 09:00 - 18:00 Uhr<br>
                    Sa    11:00 - 20:00 Uhr
                </span>
            </div>
        </div>
    </div>
{% endblock %}