{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Cinema</h1>
        <p class="lead">My Text</p>
    </div>
    <br>
    <ul>
    {% for user in alleNutzer %}
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.id }}</li>
    {% endfor %}
    </ul>
{% endblock %}