{% extends 'layout.html.twig' %}

{% block content %}
    <p>Hallo Phil'</p>
    <ul>
    {% for user in alleNutzer %}
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.id }}</li>
    {% endfor %}
    </ul>
{% endblock %}