{% extends 'layout.html.twig' %}

{% block crumbs %}
    <ol class="breadcrumb">
        <li class="active">Administration</li>
    </ol>
{% endblock %}

{% block content %}

    <h1>Administration</h1>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('cinema_settings') }}">
                <div class="card">
                    Grundeinstellung
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('hall_index') }}">
            <div class="card">
                Kinosaal
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('movie_index') }}">
            <div class="card">
                Filme
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('show_index') }}">
            <div class="card">
                Vorstellungen
            </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                Wochenplan
            </div>
        </div>
    </div>
{% endblock %}