{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Administration</h1>
    <div class="row">
        <div class="col-xs-3">
            <div class="card">
                <a href="{{ path('cinema_settings') }}">Grundeinstellung</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                <a href="{{ path('hall_index') }}">Kinosaal</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                <a href="{{ path('movie_index') }}">Filme</a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                <a href="{{ path('show_index') }}">Vorstellungen</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                Wochenplan
            </div>
        </div>
    </div>
{% endblock %}