{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Show</h1>
    <div class="row">
        <div class="col-xs-offset-9 col-xs-3">
            <a class="btn btn-success btn-block" href="{{ path('show_create') }}">+ Erstellen</a>
        </div>
    </div>

    {% if shows is not empty %}

        <ul class="list-group">
            {% for show in shows %}
                <li class="list-group-item">"{{ show.movie.name }}" in Saal: {{ show.hall.name }} am {{ show.date|date('d.m.Y') }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <b>Keine Vorstellung eingetragen</b>
    {% endif %}
{% endblock %}