{% extends 'layout.html.twig' %}

{% block crumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">Administration</a></li>
        <li class="active">S채le</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>S채le <small class="pull-right"><a class="btn btn-success btn-block" href="{{ path('hall_create') }}">+ Erstellen</a></small></h1>
    </div>

    {% if halls is not empty %}

        <ul class="list-group">
            {% for hall in halls %}
                <li class="list-group-item">{{ hall.name }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <b>Keine S채채le eingetragen</b>
    {% endif %}
{% endblock %}